# Pandas lib,

Pandas is an open-source library in Python that is made mainly for working with relational or labeled data both easily and intuitively. It provides various data structures and operations for manipulating numerical data and time series.

For more information on basics of pandas : 
https://pandas.pydata.org/docs/getting_started/index.html#installation

In [130]:
import pandas # type: ignore

# Exploring Data

In [131]:
import pandas as pd # type: ignore
Data=pd.read_csv("C:/Users/91843/Desktop/Github storage/Machine.Learning/Excel/indian_food.csv")
Data

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East
...,...,...,...,...,...,...,...,...,...
250,Til Pitha,"Glutinous rice, black sesame seeds, gur",vegetarian,5,30,sweet,dessert,Assam,North East
251,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,Goa,West
252,Shufta,"Cottage cheese, dry dates, dried rose petals, ...",vegetarian,-1,-1,sweet,dessert,Jammu & Kashmir,North
253,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,Madhya Pradesh,Central
254,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,Goa,West

max_rows
The number of rows returned is defined in Pandas option settings.

You can check your system's maximum rows with the pd.options.display.max_rows statement.

In my system the number is 60, which means that if the DataFrame contains more than 60 rows, the print(df) statement will return only the headers and the first and last 5 rows.

In [153]:
print(pd.options.display.max_rows)

60

VIEWING DATA

In [132]:

'''The command Data.head() is often used in Python with data analysis libraries like Pandas.
 It's used to display the first few rows of a DataFrame or a tabular dataset'''

Data.head()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East

In [133]:
'''The Data.tail() method is used in Python with data analysis libraries like Pandas, and it serves the opposite purpose of Data.head().
 Instead of displaying the first few rows of a DataFrame, Data.tail() displays the last few rows. '''

Data.tail()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
250,Til Pitha,"Glutinous rice, black sesame seeds, gur",vegetarian,5,30,sweet,dessert,Assam,North East
251,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,Goa,West
252,Shufta,"Cottage cheese, dry dates, dried rose petals, ...",vegetarian,-1,-1,sweet,dessert,Jammu & Kashmir,North
253,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,Madhya Pradesh,Central
254,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,Goa,West

In [134]:
'''Data Type Summary: Data.info() displays a summary of the data types of each column in the DataFrame. 
This is important because different data types
(e.g., integers, floats, strings, dates) can require different types of data processing and analysis.'''

Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            255 non-null    object
 1   ingredients     255 non-null    object
 2   diet            255 non-null    object
 3   prep_time       255 non-null    int64
 4   cook_time       255 non-null    int64
 5   flavor_profile  255 non-null    object
 6   course          255 non-null    object
 7   state           255 non-null    object
 8   region          254 non-null    object
dtypes: int64(2), object(7)
memory usage: 18.1+ KB

In [135]:
'''he describe() method returns description of the data in the DataFrame. If the DataFrame contains numerical data, 
the description contains these information for each column: 
count - The number of not-empty values. mean - The average (mean) value. std - The standard deviation'''

Data.describe()

        prep_time   cook_time
count  255.000000  255.000000
mean    31.105882   34.529412
std     72.554409   48.265650
min     -1.000000   -1.000000
25%     10.000000   20.000000
50%     10.000000   30.000000
75%     20.000000   40.000000
max    500.000000  720.000000

In [136]:
'''The count() method counts the number of not empty values for each row, or column if you specify the axis parameter as axis='columns' ,
 and returns a Series object with the result for each row (or column).'''

Data.count()

name              255
ingredients       255
diet              255
prep_time         255
cook_time         255
flavor_profile    255
course            255
state             255
region            254
dtype: int64

In [137]:
# The shape of a DataFrame is a tuple of array dimensions that tells the number of rows and columns of a given DataFrame.

Data.shape

(255, 9)

# Selecting

In order to review or conduct further analysis on the data, you may frequently need to choose only one piece or a specific subset of the data. These techniques will come in very handy:

Accessing Columns

In [138]:
# GET A SINGLE COLUMN BY NAME

Data['name']

0          Balu shahi
1              Boondi
2      Gajar ka halwa
3              Ghevar
4         Gulab jamun
            ...
250         Til Pitha
251           Bebinca
252            Shufta
253         Mawa Bati
254            Pinaca
Name: name, Length: 255, dtype: object

In [139]:
# GET MULTIPLE COLUMNS BY NAME

Data[['ingredients','diet']]

                                           ingredients        diet
0                      Maida flour, yogurt, oil, sugar  vegetarian
1                              Gram flour, ghee, sugar  vegetarian
2         Carrots, milk, sugar, ghee, cashews, raisins  vegetarian
3    Flour, ghee, kewra, milk, clarified butter, su...  vegetarian
4    Milk powder, plain flour, baking powder, ghee,...  vegetarian
..                                                 ...         ...
250            Glutinous rice, black sesame seeds, gur  vegetarian
251  Coconut milk, egg yolks, clarified butter, all...  vegetarian
252  Cottage cheese, dry dates, dried rose petals, ...  vegetarian
253  Milk powder, dry fruits, arrowroot powder, all...  vegetarian
254  Brown rice, fennel seeds, grated coconut, blac...  vegetarian

[255 rows x 2 columns]

The iloc() function in python is one of the functions defined in the Pandas module that helps us to select a specific row or column from the data set.

In [152]:
# Selection by position (selects first element)
#  0 = name
#  1 = ingrident
print(Data.loc[1, 'name'])
Data.iloc[1,1]

Boondi

'Gram flour, ghee, sugar'

In [141]:
# For picking paticular Row
# First Row
Data.iloc[0]

name                                   Balu shahi
ingredients       Maida flour, yogurt, oil, sugar
diet                                   vegetarian
prep_time                                      45
cook_time                                      25
flavor_profile                              sweet
course                                    dessert
state                                 West Bengal
region                                       East
Name: 0, dtype: object

In [142]:
# picking paticular elements
# First element of first column
Data.iloc[0,0]

'Balu shahi'

# Filtering Data

# Data Cleaning

Remove duplicate rows

In [143]:
import pandas as pd # type: ignore
Rename=pd.DataFrame(Data)
print(Data)

Rename.rename(columns = {'name':'Name'},inplace = True)
print(Rename.columns)

               name                                        ingredients  \
0        Balu shahi                    Maida flour, yogurt, oil, sugar
1            Boondi                            Gram flour, ghee, sugar
2    Gajar ka halwa       Carrots, milk, sugar, ghee, cashews, raisins
3            Ghevar  Flour, ghee, kewra, milk, clarified butter, su...
4       Gulab jamun  Milk powder, plain flour, baking powder, ghee,...
..              ...                                                ...
250       Til Pitha            Glutinous rice, black sesame seeds, gur
251         Bebinca  Coconut milk, egg yolks, clarified butter, all...
252          Shufta  Cottage cheese, dry dates, dried rose petals, ...
253       Mawa Bati  Milk powder, dry fruits, arrowroot powder, all...
254          Pinaca  Brown rice, fennel seeds, grated coconut, blac...

           diet  prep_time  cook_time flavor_profile   course  \
0    vegetarian         45         25          sweet  dessert
1    vegetarian         80         30          sweet  dessert
2    vegetarian         15         60          sweet  dessert
3    vegetarian         15         30          sweet  dessert
4    vegetarian         15         40          sweet  dessert
..          ...        ...        ...            ...      ...
250  vegetarian          5         30          sweet  dessert
251  vegetarian         20         60          sweet  dessert
252  vegetarian         -1         -1          sweet  dessert
253  vegetarian         20         45          sweet  dessert
254  vegetarian         -1         -1          sweet  dessert

               state      region
0        West Bengal        East
1          Rajasthan        West
2             Punjab       North
3          Rajasthan        West
4        West Bengal        East
..               ...         ...
250            Assam  North East
251              Goa        West
252  Jammu & Kashmir       North
253   Madhya Pradesh     Central
254              Goa        West

[255 rows x 9 columns]
Index(['Name', 'ingredients', 'diet', 'prep_time', 'cook_time',
       'flavor_profile', 'course', 'state', 'region'],
      dtype='object')

In [144]:
'''The isnull() method returns a DataFrame object where all the 
values are replaced with a Boolean value True for NULL values, and otherwise False.'''
Nullvalues=pd.isnull(Data["name"])
print(Nullvalues)

0      False
1      False
2      False
3      False
4      False
       ...
250    False
251    False
252    False
253    False
254    False
Name: name, Length: 255, dtype: bool